<html>
	<head>
		<style>
			.container {
				display: flex;
				align-items: center;
		
			}
			.element {
				margin-right: 20px;
            	display: inline-block;
           		margin-bottom: 10px;
        }
		</style>
	</head>
	
	<body>
		
		<h1 class="container">TRAINING ROOM</h1>
		{% if user.is_authenticated %}
			<p class="element">Logged as {{user.username}}</p>
		{% endif %}
		
		<hr>
		<a href="{% url 'register' %}"/>Register</a>
		<br> <br>
		<a href="{% url 'my-login' %}"/>Login</a>
		<br> <br>
		<a href="{% url 'logout' %}"/>Logout</a>
		<br> <br>
		<a href="{% url 'dashboard' %}"/>Dashboard</a>
		</div>
	</body>
</html>
