{% extends "base.html" %}

{% block content %}
    <ul>
        {% for question in questions %}
            <div class="search-form">
                <p><b>{{ question.title }}</b></p>
                <p>{{ question.description }}</p>
                <!-- Botão de Exclusão -->
                <form action="{% url 'deletequestion' question.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </ul>
    {% endblock %}